<table class="table table-striped">
  <% if(userExpense) { %>
  <tbody>
    <% for(let i = 0; i < userExpense.length; i++) { %>
    <tr data-key="<%= i + 1 %>">
      <th scope="row"><%= i + 1 %></th>
      <td id="form-title-expense"><%= userExpense[i].title %></td>
      <td id="form-amount-expense"><%= userExpense[i].amount %></td>
      <td class="table__buttons">
        <button type="button" id="edit">
          <ion-icon class="table__icon text-success" name="create">
        </button>
        <form action="/user/<%= userName %>/expense/delete" method="POST">
          <input type="hidden" name="expenseId" value="<%= userExpense[i]._id %>" >
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" id="delete">
            <ion-icon class="table__icon text-danger" name="trash">
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
  <% } %>
</table>